- numpy
- pandas
- matplotlib
- seaborn
- scikit-learn
- scipy
- beautifulsoup4
- scrapy
- requests
- nltk
- textblob
- spacy
- torch
- transformers
- bertopic
- tensorflow
- umap-learn
- hdbscan
- gensim
- tqdm
- torchvision
- torchtext
- networkx
- scikit-learn-extra
- plotly
